# /grub.cfg - UEFI 专用

set timeout=5

# 设置默认 HTTP 服务器（关键！）
set net_default_server=osinstall.newcb.com

set mac=${net_default_mac}

if [ -n "$mac" ]; then
    regexp --set=1:m1 --set=2:m2 --set=3:m3 --set=4:m4 --set=5:m5 --set=6:m6 \
        '([0-9a-f]{2}):([0-9a-f]{2}):([0-9a-f]{2}):([0-9a-f]{2}):([0-9a-f]{2}):([0-9a-f]{2})' "$mac"
    set mac_01=01-${m1}${m2}${m3}${m4}${m5}${m6}

    if [ -s /pxelinux.cfg/${mac_01} ]; then
        configfile /grub.cfg-${mac_01}
    else
        configfile /grub.cfg-default
    fi
else
    configfile /grub.cfg-default
fi
